@use '../abstracts/mixins' as *;

body {
  background: var(--background);
  color: var(--text);
}

.container {
  width: min(1180px, calc(100% - 48px));
  margin: 0 auto;
}

:where(a, button):focus-visible {
  outline: 2px solid var(--accent-light);
  outline-offset: 4px;
}

@include mobile {
  .container {
    width: min(1180px, calc(100% - 32px));
  }
}